<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=[TNSServiceName];Initial Catalog=[LibraryDB;Persist Security Info=True;User ID=[UserName];Password=[Password]" />
    <add name="LibraryManagementSystem.Properties.Settings.LibraryDB"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=LibraryDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
